/*html {
  background: url(sf2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.contacts a{
  /*font-size: 1.2em;*/
  /*text-align: center;*/
  text-decoration: none;
  color: #0A2239;
}

#contentPost, #contentPost2 {
  display: none;
}

.contacts p {
  list-style-type: none;
  text-align: center;
}

body {
  font-family: 'Yrsa', serif;
}

#page-wrapper {
  background-color: rgba(206, 231, 230, .9);
}

.signature-image img {
  width:75%;
  height: 75%;
  border-radius: 10px;
}

.signature-image2 {
  width: 33%;
  height: 66%;
  text-align: center;
  float: right;
  border-radius: 10px;
  margin: 5% 5% 0 0;
}

.signature-image {
  /*width: 50%;
  height: 50%;*/
  text-align: center;
  float:left;
}
body {
  color: #0A2239
}

ul {
  margin: 0px 0px 10px 0px;
}

.special  {
  /*float: left;*/
  font-size: 2em;
  display: inline-block;
  text-align: center;
  padding: 1em;
}

h1 {
  margin: 0;
  padding: 5px;
  background-color: #577590
}

h2 {
  margin: 15% 0 0 0;
}

h1, h2, h3 {
  text-align: center;
}

#most-recent {
  width: 50%;
  height: 50%;
  /*float: right;*/
  text-align: center;
}

h2, h3 {
  text-decoration: underline;
}

.clear {
  clear: both;
}

.navbar {
  background-color: #577590;
  text-align: center;
  /*border: solid #0A2239*/
  /*padding: 0*/
  /*text-decoration-color: white;*/
}

.navbarlist{
  display: inline-block;
  width: 100px;
  height: 20px;
  font-size: 20px;
}

.navbar li:hover {
  background-color: #5B507A;
  color: #577590;
}

nav ul li a {
  text-decoration: none;
  color: #FAE8EB;
}

.right-section-el{
  float: right;
  width: 50%;
  height: 500px;
}

.left-section-el {
  float: left;
  width: 50%;
  height: 50%;
}
